{% extends 'manuscritos/base.html' %}
{% block title %}Registrar Manuscrito{% endblock %}
{% block content %}
    <h1>Registrar Manuscrito</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formulario_manuscrito.as_p }}
        <h3>Archivos</h3>
        <div class="mb-3">
            <label for="{{ formulario_archivos.archivo.html_name }}" class="form-label">Seleccionar múltiples archivos (PDF o Imagenes):</label>
            <input type="file" name="archivos" multiple accept=".pdf,.jpg,.jpeg,.png,.gif" class="form-control">
            <div class="form-text">Puedes seleccionar varios archivos al mismo tiempo manteniendo presionada la tecla Ctrl (o Cmd en Mac).</div>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
{% endblock %}