{% extends 'manuscritos/base.html' %}
{% block title %}Registrar Manuscrito{% endblock %}
{% block content %}
    <h1>Registrar Manuscrito</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formulario_manuscrito.as_p }}

        {% if formulario_manuscrito.errors %}
            <div class="alert alert-danger">
                {{ formulario_manuscrito.errors }}
            </div>
        {% endif %}

        <h3>Archivos</h3>
        <div class="mb-3">
            <label for="{{ formulario_archivos.archivos.id_for_label }}" class="form-label">
                Seleccionar archivos (PDF o Imágenes):
            </label>
            {{ formulario_archivos.archivos }}
            {% if formulario_archivos.archivos.errors %}
                <div class="alert alert-danger">
                    {% for error in formulario_archivos.archivos.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            {% endif %}
            <small class="form-text text-muted">
                Puedes seleccionar varios archivos al mismo tiempo manteniendo presionada la tecla
                Ctrl (o Cmd en Mac).
            </small>
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
        <a href="{% url 'lista_manuscritos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}